.contact-form {
    margin-bottom: 50px;

    form {
        button {
            display: block;
            width: 500px;
            max-width: 500px;
            padding: 5px;
            border: 0;
            border-radius: 5px;
            background-color: $primary-color;
            color: $white;
            text-transform: capitalize;

            @media (max-width: 540px) {
                max-width: 220px;
            }
        }
    }

    .sidemap {
        a {
            color: $primary-color;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}