.category {
    margin: 15px 0;

    .category-item {
        margin-bottom: 15px;
        text-align: center;

        a {
            display: inline-block;
            color: $bColor;

            img {
                max-width: 25px;
            }

            span {
                display: inline-block;
                text-transform: capitalize;
                font-weight: 600;
                font-size: 14px;
                opacity: .5;
            }

            &:hover span {
                opacity: 1;
            }
        }
    }
}