.brand-details {
    .title {
        .pagination {
            margin-bottom: 30px;

            ul {
                display: flex;
                align-items: center;

                li {
                    color: $primary-color;
                    font-weight: 500;
                    margin-right: 10px;
                    font-size: 14px;

                    a {
                        color: $primary-color;

                        i {
                            padding-left: 10px;
                        }

                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
        }

        .image {
            img {
                width: 100%;
            }
        }

        .text {
            h1 {
                font-weight: 500;
            }

            p {
                font-size: 22px;
                font-weight: 500;
                text-transform: capitalize;
                margin-bottom: 10px;
            }

            .stars {
                margin-bottom: 5px;

                .fill {
                    color: $yellow;
                }
            }

            .reviews {
                margin: 10px 0;
                a {
                    padding: 3px 20px;
                    border-radius: 20px;
                    border: 1px solid $primary-color;
                    font-size: 14px;
                    font-weight: 600;
                    text-transform: capitalize;
                    color: $primary-color;
                    transition: $transition;

                    &:hover {
                        color: $white;
                        background-color: $primary-color;
                    }
                }
            }

            .share {
                margin: 0;
                display: flex;
                align-items: center;

                .share-links {
                    display: flex;
                    align-items: center;
                    border: 1px solid $border-color;
                    border-radius: 10px;
                    padding: 5px 10px;
                    opacity: 0;
                    transform: scaleX(0);
                    transform-origin: left;
                    transition: $transition;
                    
                    &.active {
                        opacity: 1;
                        transform: scaleX(1);
                    }
                    
                    a {
                        margin: 0 5px;
                        color: $bColor;
                        font-size: 18px;
                        padding: 0 10px;
                        text-align: center;
                        border-right: 1px solid $border-color;

                        &:hover {
                            color: $hover-color;
                        }

                        &:last-child {
                            border-right: 0;
                        }

                        span {
                            display: block;
                            font-size: 12px;
                            font-weight: 600;
                            margin-top: -8px;
                        }
                    }

                }

                > i {
                    margin-right: 15px;
                    font-size: 22px;
                    cursor: pointer;
                }

            }

            .contact {
                margin-bottom: 10px;

                li {
                    font-size: 14px;
                }
                
                span {
                    display: inline-block;
                    width: 75px;
                    font-weight: 600;
                }

                a:hover {
                    text-decoration: underline;
                }
            }

            .order-place {
                h4 {
                    margin-top: 20px;
                    font-size: 20px;
                    font-weight: 500;
                }

                ul {
                    display: flex;

                    li {
                        margin-right: 15px;

                        a {
                            color: $bColor;
                            font-size: 22px;
                            padding: 5px;

                            &:hover {
                                color: $primary-color;
                            }

                            &.disabled {
                                pointer-events: none; 
                                cursor: default;
                                color: $black;
                                opacity: .4;
                            }
                        }
                    }
                }
            }
        }
    }

    .products {
        margin-top: 40px;

        h2 {
            font-size: 24px;
            font-weight: 500;
            margin-bottom: 15px;
        }

        .product-item {
            text-align: center;

            a {
                font-weight: 500;
                color: $bColor;

                &:hover {
                    color: $primary-color;
                    text-decoration: underline;
                }

                img {
                    max-width: 70px;
                    margin: 0 auto;
                }

                h4 {
                    margin-top: 10px;
                    font-size: 14px;
                }
            }
            
        }
    }

    .about-product {
        margin-top: 30px;

        .nav-link {
            color: $bColor;
            text-transform: capitalize;
            font-weight: 500;

            &.active {
                color: $primary-color;
            }
        }

        .tab-content {
            margin: 30px 0;
        }
    }
}

// Under tab content;
#product {
    form {
        .action {
            margin-bottom: 30px;

            button {
                display: inline-block;
                padding: 3px 35px;
                border: 1px solid $primary-color;
                border-radius: 20px;
                font-size: 14px;
                font-weight: 500;
                color: $primary-color;
                text-transform: capitalize;
                background-color: transparent;
                transition: $transition;

                &:hover {
                    color: $white;
                    background-color: $primary-color;
                }
            }
        }

        .form-check {
            input,
            label {
                cursor: pointer;
            }
        }
    }

    .right-items {
        .item {
            display: flex;
            padding-bottom: 15px;
            margin-bottom: 15px;
            border-bottom: 1px solid $border-color;

            .image {
                text-align: center;
                margin-right: 30px;

                img {
                    max-width: 160px;
                }
            }

            .text {
                h4 {
                    font-size: 24px;
                    
                    a {
                        color: $bColor;
                        font-weight: 500;
                        transition: $transition;

                        &:hover {
                            color: $primary-color;
                        }
                    }
                }

                ul {
                    li {
                        display: flex;

                        span {
                            display: inline-block;
                            text-transform: capitalize;
                        }

                        span:first-child {
                            margin-right: 10px;
                            font-weight: 600;
                        }
                    }
                }

                .price {
                    margin: 10px 0;
                    font-size: 22px;
                    font-weight: 600;

                    span {
                        font-size: 16px;
                        text-transform: capitalize;
                    }
                }

                .stars {
                    margin-bottom: 5px;
    
                    .fill {
                        color: $yellow;
                    }
                }

                .view-details {
                    display: inline-block;
                    padding: 5px 25px;
                    margin-top: 10px;
                    border: 1px solid $primary-color;
                    border-radius: 20px;
                    font-weight: 600;
                    text-transform: capitalize;
                    color: $primary-color;
                    transition: $transition;

                    &:hover {
                        color: $white;
                        background-color: $primary-color;
                    }
                }
    
            }
        }

        .paginate {
            .page-link {
                color: $bColor;
                transition: $transition;

                &:hover {
                    color: $white;
                    background-color: $primary-color;
                }
            }

            .active {
                .page-link {
                    color: $white;
                    background-color: $primary-color;
                }
            }
        }
    }
}

#about {
    .about-text {
        h4 {
            font-weight: 500;
        }
    }
}

#reviews {
    .review-text {
        max-height: 620px;
        overflow-y: scroll;

        .item {
            padding-bottom: 15px;
            margin-bottom: 15px;
            border-bottom: 1px solid $border-color;

            h5 {
                font-weight: 500;
            }

            p {
                margin-bottom: 0;
            }

            .time {
                span {
                    display: block;
                    margin-bottom: 10px;
                    font-size: 14px;
                    font-weight: 600;
                }
            }

            .stars {
                margin-bottom: 5px;

                .fill {
                    color: $yellow;
                }
            }
        }
    }
}

#deals {
    .deals-text {
        .item {
            display: flex;

            .image {
                margin-right: 30px;

                img {
                    width: 180px;
                }
            }

            .text {
                span {
                    display: block;
                    text-transform: uppercase;
                }

                h5 {
                    a {
                        display: block;
                        margin-bottom: 15px;
                        font-weight: 500;
                        text-transform: capitalize;
                        color: $bColor;
                        transition: $transition;

                        &:hover {
                            color: $primary-color;
                        }
                    }
                }

                p {
                    margin-bottom: 5px;
                    text-transform: uppercase;
                }
            }
        }
    }
}

// rating modal;
#rating {
    .modal-dialog {
        padding: 30px;

        .modal-title {
            font-weight: 600;
        }
        
        .modal-footer {
            button {
                background-color: $primary-color;
                color: $white;

                &:first-child {
                    background-color: $hover-color;
                }
            }
        }
    }
}

// Ratting;
.custom-rating {
    display: block;
    margin: 10px 0;

    .rating-wrapper {
        position: relative;
        display: inline-block;
        margin-top: 20px;

        .rating-input {
            position: absolute;
            left: -9999px;
            top: auto;
        }
    }

    .rating-star, 
    .rating:hover .rating-star {
        width: 45px;
        float: right;
        display: block;
        cursor: pointer;
        color: $border-color;
    }

    label i {
        font-size: 35px;
        text-align: center;
        color: inherit;
    }

    label span {
        font-family: Arial, Helvetica, sans-serif;
        text-shadow: 0 1px $black;
        transition: margin 0.6s, opacity .6s;
        border-radius: 3px;
        white-space: nowrap;
        position: absolute;
        padding: 5px 10px;
        font-weight: 400;
        background: $bgTwo;
        font-size: 14px;
        margin-left: -5px;
        margin-bottom: 15px;
        display: block;
        left: -9999px;
        color: $bColor;
        opacity: 0;
        z-index: 10;


        &::before {
            content: '';
            position: absolute;
            border-top: 4px solid $bgTwo;
            border-right: 4px solid transparent;
            border-left: 4px solid transparent;
            left: 8px;
            top: 100%;
        }
    }

    &:hover .rating-star:hover, 
    &:hover .rating-star:hover ~ .rating-star, 
    .rating-input:checked ~ .rating-star {
        color: $yellow;
    }

    label:hover span {
        bottom: 100%;
        opacity: 1;
        left: auto;
        margin-bottom: 5px;
    }
}