// Color;
$primary-color: #00937F;
$hover-color : #ff7546;
$bColor: #343a40;
$white : #ffffff;
$black : #000000;
$bgOne: #c9ded3;
$bgTwo: #F2F2F2;
$border-color: #ced4da;
$yellow: #ffd241;


// Body;
$bodyFont: 'Poppins', sans-serif;
$titleFont: 'Poppins', sans-serif;
$bfSize: 16px;
$bLineHeight: 1.6rem;
$fontWeight: 400;
$transition: all .3s linear;
