.privacy {
    .privacy-content {
        padding: 0 120px;

        @media (max-width: 767.98px) {
            padding: 0 15px;
        }
    
        h1 {
            font-size: 26px;
            text-align: center;
            margin: 50px 0;
            font-weight: 500;
        }

        p {
            font-size: 14px;
            margin-bottom: 15px;
            font-weight: 500;

            &.ml-30 {
                margin-left: 30px;
            }
        }

        .update {
            display: inline-block;
            margin: 50px 0;
            font-weight: 600;
        }
    }

}